<mat-drawer-container class="example-container" fxFlex [class.dark-theme]="isDarkTheme">
    <mat-drawer #drawer class="example-sidenav" mode="over">
        <mat-nav-list>
            <a *ngFor="let navItem of mainMenuItems" mat-list-item mat-ripple [style.position]="'relative'" routerLinkActive="selected"
                [routerLink]="[navItem.path]">
                <!--<mat-icon *ngIf="navItem.icon">{{navItem.icon}}</mat-icon>-->
                <span>{{navItem.title}}</span>
            </a>
        </mat-nav-list>

    </mat-drawer>

    <div fxLayout="column" class="content">
        <mat-toolbar color="primary" class="mat-elevation-z6 app-toolbar">
            <div fxLayout="row" fxLayoutAlign="start center" class="app-bar" style="width:250px;">
                <button mat-icon-button (click)="drawer.toggle()">
                    <mat-icon>menu</mat-icon>
                </button>
                <img src="../assets/logo.svg" class="logo">
                <span fxLayout="row" fxFlex fxLayoutAlign="center center">{{appName}}</span>
            </div>
            <span style="padding-left:16px;">
                {{(activeMenuItem$ | async)?.title}}
            </span>
            <span fxFlex></span>
            <button mat-icon-button [matMenuTriggerFor]="themeMenu">
                <ngu-letter-avatar avatar-data='{{userName}}'></ngu-letter-avatar>
            </button>
        </mat-toolbar>
        <div fxFlex>
            <router-outlet></router-outlet>
        </div>
        <mat-menu #themeMenu x-position="before">
            <button mat-menu-item (click)="isDarkTheme = !isDarkTheme">Toggle Theme</button>
        </mat-menu>
    </div>
</mat-drawer-container>